/* استایل اولیه */
body {
    font-family: Tahoma, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-size: 24px;
}

p {
    line-height: 1.6;
    text-align: justify;
    margin: 10px 20px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* فهرست مطالب */
#table-of-contents {
    margin: 20px;
}

#table-of-contents ul {
    list-style-type: none;
    padding: 0;
}

#table-of-contents li {
    margin: 10px 0;
}

/* تصویر */
.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

/* دارک مود */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}

button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ffb300;
}
