body {
    font-family: 'Tahoma', sans-serif;
    text-align: right;
    direction: rtl;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

#theme-toggle button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

main {
    padding: 20px;
}

h1, h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
    margin-top: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

ul li a:hover {
    color: #007BFF;
}

.map-img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 10px 0;
}

.history-img {
    width: 200px;
    display: block;
    margin: 10px 0;
}

#theme-toggle button:focus {
    outline: none;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode header {
    background-color: #444;
}

body.dark-mode h1, body.dark-mode h2 {
    color: #fff;
}

body.dark-mode ul li a {
    color: #fff;
}

body.dark-mode ul li a:hover {
    color: #FFD700;
}
